---
import RefList from "../components/RefList.astro";
import Base from "../layouts/Base.astro";
---

<Base title="Tags — plangs!" description="All tags in the plangs! database.">
  <h1 class="mb-4 text-2xl">Tags</h1>
  <RefList kind="tag" />
</Base>
