@import "tailwindcss";

@config "./tailwind.config.js";

/* Base Theme (Light Mode by Default) */
:root {
  --color-primary: #609;
  --color-secondary: chartreuse;
  --color-background: mintcream;
  --color-foreground: #001;
  --color-thumbnails: rgba(255, 255, 255, .85);
  --color-stripes: rgba(127, 255, 0, 0.85);
}

/* Dark Mode */
.dark {
  --color-primary: chartreuse;
  --color-secondary: #609;
  --color-background: #001;
  --color-foreground: mintcream;
  --color-thumbnails: rgba(102, 0, 153, .85);
  --color-stripes: rgba(102, 0, 153, .85);
}

@theme {
  --font-family-sans: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}

* {
  scrollbar-color: var(--color-primary) transparent;
}
*::-webkit-scrollbar-track { background-color: transparent; }

/** Debugging Helpers */

.db-r { outline: 2px dashed rgb(255 0 0); background: repeating-linear-gradient(  0deg, rgb(255 0 0) 0, rgb(255 0 0) 1px, transparent 0, transparent 50%) top left / 10px 10px; }
.db-g { outline: 2px dashed rgb(0 255 0); background: repeating-linear-gradient( 45deg, rgb(0 255 0) 0, rgb(0 255 0) 1px, transparent 0, transparent 50%) top left / 10px 10px; }
.db-b { outline: 2px dashed rgb(0 0 255); background: repeating-linear-gradient(-45deg, rgb(0 0 255) 0, rgb(0 0 255) 1px, transparent 0, transparent 50%) top left / 10px 10px; }