@import "tailwindcss";

@config "./tailwind.config.js";

@layer components {
  .readable {
    @apply prose prose-green;
  }
}

/* Base Theme (Light Mode by Default) */
:root {
  --color-primary: #609;
  --color-secondary: chartreuse;
  --color-background: mintcream;
  --color-foreground: #001;
}

/* Dark Mode */
.dark {
  --color-primary: chartreuse;
  --color-secondary: #609;
  --color-background: #001;
  --color-foreground: mintcream;
}

@theme {
  --font-family-sans: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa, Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;
}