.plangsTable {
    border-collapse: collapse;
    width: 100%;

    th,
    td {
        border: 1px solid black;
        padding: 0.5rem;
    }

    .logo {
        width: 4rem;
    }

    a.plang {
        border: 2px solid orange;
        border-radius: .3rem;
        background-color: pink;
        text-decoration: none;
        padding: .125rem .25rem;
        margin-right: .5rem;
    }

    caption {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }
}