body {
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  background-color: green;
  line-height: 0;

  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1, nav {
    color: white;
    padding: 1rem;
  }
}

main {
  min-height: 80vh;
}

footer {
  background-color: yellowgreen;
}

#browse-app {
  display: flex;
  flex-direction: row;

  & > nav, article {
    padding: 0 1rem;
  }

  & > nav {
    background-color: aliceblue;

    .active {
      font-weight: bold;
    }
  }

  & > article {
    background-color: lightyellow;
    flex: 1;
  }
}