body {
  font-family: sans-serif;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

header {
  line-height: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  h1,
  nav {
    color: white;
    padding: 1rem;
  }

  h1 a {
    color: green;
    text-decoration: none;
  }
}

main {
  min-height: 80vh;
}

footer {
  background-color: yellowgreen;
}

#plangs-table {
  border-collapse: collapse;
  width: 100%;

  th,
  td {
    border: 1px solid black;
    padding: 0.5rem;
  }

  td.logo {
    text-align: center;

    img {
      max-width: 4rem;
      max-height: 4rem;
    }
  }

  td.websites {
    a {
      border: 1px solid blue;
      border-radius: .3rem;
      background-color: #eee;
      text-decoration: none;
      padding: .125rem .25rem;
      margin-right: .5rem;
    }
  }

  caption {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}