input-sel {
    display: block;

    .remove-item {
        cursor: pointer;
        display: inline-block;

        padding: .25rem;
        border-radius: .25rem;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .icon {
            padding-right: .5rem;
        }
    }
}