input-sel {
    display: block;

    select {
        display: block;
        margin-top: .25rem;
    }

    .remove-item {
        cursor: pointer;
        display: inline-block;

        padding: .25rem;
        border-radius: .25rem;
        max-width: 90%;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .icon {
            padding-right: .5rem;
        }
    }
}