#browse {
  display: flex;
  flex-direction: row;

  .browseNav {
    background-color: aliceblue;

    .active {
      font-weight: bold;
    }
  }

  .browseContent {
    background-color: lightyellow;
    flex: 1;
    padding: 0 1rem;
  }
}