:root {
    --shade0: hsl(120 10% 75%);
    --shade1: hsl(120 20% 85%);
    --shade2: hsl(120 20% 97% / 90%);
    --shade3: hsl(120 20% 95%);
    --shade4: hsl(120 90% 90%);

    --shadow: rgb(99 99 99 / 15%) 0px 2px 8px 0px;

    --pl-thumb-size: calc(100vw / 15);
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #0B1B2D;
    background-color: #fbfbfb;
    overflow-y: scroll;
}

.hide {
    display: none !important;
}

noscript {
    display: block;
    padding: 1rem;
    background-color: lightyellow;
    text-align: center;
}

#plangs-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    height: 1.8rem;
    padding: 1rem .5rem;
    background-color: var(--shade4);
    border-bottom: 1px solid var(--shade0);

    box-shadow: var(--shadow);
    margin-bottom: 8px;
    /* To allow the shadow to display. */

    a {
        color: #0B1B2D;
        font-weight: bold;
    }

    #plangs {
        font-size: 1.5rem;
    }
}

#status {
    font-size: 0.8rem;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-nav {
    margin-top: 1rem;
    min-width: 15rem;
    max-width: 15rem;
    padding-right: .25rem;
}

#home-side {
    min-width: 30rem;
    max-width: 30rem;
    padding-left: .25rem;
    z-index: 1;
}

.stick-to-top {
    position: sticky;
    top: 1rem;
    bottom: unset;
    align-self: self-start;

}

.stick-to-bottom {
    position: sticky;
    top: unset;
    bottom: 1rem;
    align-self: self-end;
}

#home-plangs {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
}

.plang-thumb {
    width: var(--pl-thumb-size);
    height: var(--pl-thumb-size);

    border-top-left-radius: 1rem;
    border-bottom-right-radius: 1rem;

    padding: .5rem;
    margin: 1rem;

    color: #444;
    background-color: white;

    box-shadow: rgba(99, 99, 99, .1) 0px 2px 8px 0px;
    cursor: pointer;

    &:hover {
        box-shadow: rgba(99, 99, 99, .8) 0px 2px 8px 0px;
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .name {
        display: inline-block;
        max-width: var(--pl-thumb-size);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.1rem;
    }

    .links a {
        text-decoration: none;
        color: black;
        margin-left: 1rem;
    }

    .logo {
        display: flex;
        align-items: center;

        --size-img: calc(var(--pl-thumb-size) * .6);

        width: var(--size-img);
        height: var(--size-img);

        img {
            max-width: var(--size-img);
            max-height: var(--size-img);
            height: initial;
        }

        .placeholder {
            width: var(--size-img);
            height: var(--size-img);
            align-items: center;
            background-color: #fafafa;
            border-radius: 1rem;
            color: #aaa;
            display: flex;
            font-size: .75rem;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            transform: rotate(-10deg);
        }
    }
}

.facet {
    margin-bottom: 1.5rem;
    padding: 0.35rem 0;

    background-color: var(--shade3);
    border-bottom-right-radius: 1rem;
    border-bottom: 1px solid var(--shade0);
    box-shadow: var(--shadow);

    .controls {
        padding-left: .5rem;

        label {
            padding-bottom: .5rem;
            display: block;
            font-size: .8rem;

            .inner-label {
                display: block;
            }

            input[type="search"],
            input[type="date"] {
                width: 90%;
            }
        }

        input-sel {
            font-size: .8rem;
            width: 90%;
            margin-top: -.5rem;
            padding-bottom: .5rem;
        }
    }
}

#plang-infobox {
    background-color: var(--shade3);
    border-bottom-left-radius: 1rem;
    border-bottom: 1px solid var(--shade0);
    box-shadow: var(--shadow);

    margin-top: 1rem;
    padding: 0 1rem 1rem;

    h2 {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    dl {
        margin: 0;
    }

    .entry {
        margin-bottom: 1rem;

        dt {
            font-size: .8rem;
            padding-top: .5rem;
        }

        dd {
            font-size: .9rem;
            padding: .75rem;
            margin: 0;
            background-color: white;
            border: 1px solid rgb(118, 118, 118);

            .pill {
                display: inline-block;
                padding: .25rem .5rem;
                margin-right: .5rem;
                margin-bottom: .5rem;
                border-radius: .35rem;
                background-color: var(--shade3);
                border-top: 1px solid var(--shade0);
            }

            .pl-pill {
                cursor: pointer;
                background-color: var(--shade4);
            }
        }
    }
}