:root {
    --pl-thumb-size: 9rem;
}

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    color: #0B1B2D;
    overflow-y: scroll;
    box-sizing: border-box;
}

#top-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;

    padding: 0 1.5rem;
    height: 6rem;
    background-color: #111;
    border-bottom: 1px solid #555;

    a {
        color: white;
    }

    #logo {
        font-size: 2.5rem;
    }
}

#top-nav {
    margin-right: 35rem;
    height: 1.85rem;

    a {
        border-top-left-radius: 1rem;
        border-top-right-radius: 1rem;

        margin-right: 1rem;
        padding: .75rem 1.5rem 1rem;

        color: #ccc;
        text-decoration: none;

        border: 1px solid #555;
        border-bottom: none;

        span {
            padding: .25rem 1rem;
        }

        &.current {
            color: #fff;
            background-color: #222;
            span {
                border-bottom: 4px solid yellowgreen;
            }
        }

        &:hover {
            span {
                border-bottom: 4px solid yellow;
            }
        }
    }
}

.hide {
    display: none !important;
}

noscript {
    display: block;
    padding: 1rem;
    background-color: lightyellow;
    text-align: center;
}

#status {
    font-size: 0.8rem;
}

#home {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#home-nav {
    min-width: 18rem;
    max-width: 18rem;

    color: #ccc;
    background-color: #333;
    border-right: 1px solid #555;
}

#home-side {
    min-width: 30rem;
    max-width: 30rem;
    z-index: 1;

    background-color: #eee;
    min-height: 100vh;
    border-left: 2px solid #555;
}

.stick-to-top {
    position: sticky;
    top: 0;
    bottom: unset;
    align-self: flex-start;

}

.stick-to-bottom {
    position: sticky;
    top: unset;
    bottom: 0;
    align-self: flex-end;
}

#home-plangs {
    padding-top: .25rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: flex-start;
    background-color: #222;
}

input {
    border-bottom-left-radius: .25rem;
    border-top-right-radius: .25rem;
}

.plang-thumb {
    width: var(--pl-thumb-size);
    height: var(--pl-thumb-size);

    border-bottom-left-radius: 1rem;
    border-top-right-radius: 1rem;

    padding: .5rem;
    margin: 1rem;

    color: #444;
    background-color: #eee;
    box-shadow: gray 0px 2px 2px 2px;

    cursor: pointer;

    &:hover {
        border: 2px solid black;
        outline: 5px solid hsl(120, 100%, 80%);
    }

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    .name {
        display: inline-block;
        max-width: var(--pl-thumb-size);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: 1.1rem;
    }

    .links a {
        text-decoration: none;
        color: black;
        margin-left: 1rem;
    }

    .logo {
        display: flex;
        align-items: center;

        --size-img: calc(var(--pl-thumb-size) * .5);

        width: var(--size-img);
        height: var(--size-img);

        img {
            max-width: var(--size-img);
            max-height: var(--size-img);
            height: initial;
        }

        .placeholder {
            color: #888;
            background-color: #ccc;

            width: var(--size-img);
            height: var(--size-img);
            align-items: center;
            border-radius: 1rem;
            display: flex;
            font-size: .75rem;
            justify-content: center;
            overflow: hidden;
            text-align: center;
            transform: rotate(-10deg);
        }
    }
}

.facet {
    .controls {
        label {
            padding-bottom: 1rem;
            display: block;

            .inner-label {
                display: block;
            }

            input[type="search"],
            input[type="date"] {
                width: 100%;
            }
        }

        input-sel {
            width: 100%;
            margin-top: -.5rem;
            padding-bottom: .5rem;
        }
    }

    &::after {
        height: 2rem;
        content: "✧";
        display: block;
        text-align: center;
    }
}

.facet:last-child {
    &::after {
        content: "";
    }
}

#facets {
    margin-top: .5rem;
    padding: 1rem 1.5rem;
}

#plang-infobox {
    margin-top: .5rem;
    padding: 0 1.25rem .5rem;

    h2 {
        margin: 0;
        padding-top: 1rem;
        padding-bottom: 0;
    }

    dl {
        margin: 0;
    }

    .entry {
        margin-bottom: 1rem;

        dt {
            padding-top: .5rem;
        }

        dd {
            padding: .75rem;
            margin: 0;
            background-color: white;
            border: 1px solid rgb(118, 118, 118);

            border-bottom-left-radius: 1rem;
            border-top-right-radius: 1rem;

            .pill {
                background-color: hsl(120, 20%, 80%);
                border-bottom: 1px solid gray;
                border-right: 1px solid gray;

                display: inline-block;
                margin: .25rem;
                padding: .25rem .5rem;

                border-bottom-left-radius: .25rem;
                border-top-right-radius: .25rem;
            }

            .pl-pill {
                cursor: pointer;
                background-color: hsl(120, 100%, 80%);
            }
        }
    }
}