#search {
    display: flex;
    flex-direction: column;
    align-items: center;

    .search-label {
        display: flex;
        margin: 1rem;
        padding: 1em;
        width: 20rem;
        border-radius: 1rem;
        background-color: aliceblue;

        input {
            flex: 1;
            margin-left: .5rem;
            display: inline-block;
        }
    }

    #search-results {
        border: 1px solid #eee;
        min-width: 20rem;
        margin: 1rem;
        padding: 1em;
    }

}