#browse {
  display: flex;
  flex-direction: row;
}

#browse-nav {
  min-width: 12.5rem;
  background-color: white;

  .active {
    font-weight: bold;
  }
}

#browse-content {
  flex: 1;
  padding: 0 1rem;

  .search {
    background-color: green;
    border: none;
    border-radius: .3rem;
    padding: 1rem;

    input {
      flex: 1;
      margin-right: 1rem;
    }
  }
}

.browse-facet {
  .title {
    font-weight: bold;
    padding: .5rem 1rem;
    background-color: #eee;
    cursor: pointer;
    text-align: center;
    font-size: .8rem;
  }

  label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: .8rem;
  }
}